<div class="container">
	<div [hidden]="submitted">
		<h1>Formulario de héroe</h1>
		<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
			{{diagnostic}}
			<div class="form-group">
				<label for="name">Nombre</label>
				<input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #campoNombre="ngModel" >
				<div [hidden]="campoNombre.valid || campoNombre.pristine" class="alert alert-danger">
					El nombre es requerido
				</div>
			</div>

			<div class="form-group">
				<label for="alterEgo">Alter Ego</label>
				<input type="text" class="form-control" id="alterEgo" [(ngModel)]="model.alterEgo" name="alterEgo">
			</div>

			<div class="form-group">
				<label for="power">Superpoder</label>
				<select class="form-control" id="power" required [(ngModel)]="model.power" name="power">
					<option *ngFor="let power of powers" [value]="power">{{power}}</option>
				</select>
			</div>

			<button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">Nuevo héroe</button>
			<button [disabled]="!heroForm.form.valid" type="submit" class="btn btn-success">Enviar</button>
		</form>
	</div>

	<div [hidden]="!submitted">
		<h2>Has subido el siguiente formulario:</h2>
		<div class="row">
			<div class="col-3">Nombre</div>
			<div class="col-9 pull-left">{{model.name}}</div>
		</div>
		<div class="row">
			<div class="col-3">Alter Ego</div>
			<div class="col-9 pull-left">{{model.alterEgo}}</div>
		</div>
		<div class="row">
			<div class="col-3">Superpoder</div>
			<div class="col-9 pull-left">{{model.power}}</div>
		</div>

		<br/>

		<button class="btn btn-primary" (click)="submitted=false">Editar</button>
	</div>
</div>