@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

.form-control.ng-valid[required], .form-control.ng-valid.required {
	border-left: 5px solid #42A948;
}

.form-control.ng-invalid:not(form) {
	border-left: 5px solid #a94442;
}